<article role="article" class="span9">
    <h1 class="entry-title">About</h1>
    <p class="meta">

<time datetime="2012-04-17T01:48:00-04:00" pubdate data-updated="true">Apr 17<span>th</span>, 2012</time></p>
  
  <p><span style="font-size: 18px; ">Welcome to hfase.com! This website is owned, built, maintained, and served by Hans Fase.<!--more--> Powered with close to 20 years of computer operating experience that is suplementing a neverending desire to learn more. Computers have always been facinating to me and a few years ago I decided to start working with websites and purchased this (my first) domain name. I have come a long way from where I started with this domain name, and discovered many useful things along the way. When I first started experementing with websites I knew almost nothing about the way they work. Now I am totally comfortable and proficant working with the basics; HTML & CSS. Along with my expertiese of the basic web-components is great knowladge and experiance of dynamic languages such as PHP, RUBY & JS. This website seems to work well to showcase some of my talents and recent workings.</span></p>

</article>