<% content_for :head do %>
    <meta property="og:title" content="<%= AppConfig[:pod_name] %>" />
    <meta property="og:description" content="Make it uniquely you" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= AppConfig[:pod_url] %>" />
    <meta property="og:image" content="<%= AppConfig[:pod_url] %>/icon_128.gif" />
    <meta property="fb:app_id" content="223055781146202" />
<% end %>

<article role="article" class="span9">

  
    <h1 class="entry-title">Terms</h1>
    <p class="meta">

<time datetime="2012-05-20T22:16:00-04:00" pubdate data-updated="true">May 20<span>th</span>, 2012</time></p>
  
  <p>All users of this website must be of at least 13 years of age to register and or provide any personally-identifying information.</p>

<p>You agree not to post any (abusive, obscene, vulgar, slanderous, hateful, threatening, sexually-oriented or any other) material that may violate any applicable laws. Doing so may lead to you being immediately removed. You agree that the webmaster, administrator and moderators of this website have the right to remove any post that violates these terms. While the administrators and moderators of this website will attempt to remove any generally objectionable material as quickly as possible, it is impossible to review every message. Therefore you acknowledge that all posts made to these websites express the views and opinions of the author and not the administrators, moderators or webmaster (except for posts by these people) and hence will not be held liable. As a user you agree to any information you have entered above being stored in a database. While this information will not be disclosed to any third party without your consent the webmaster, administrator and moderators cannot be held responsible for any hacking attempt that may lead to the data being compromised.</p>

<p>This website system uses cookies to store information on your local computer. These cookies do not contain any of the information you have entered above; they serve only to improve your viewing pleasure and keep you signed-in while veiwing this website. Signing-off of this website clears your browers of these cookies. The e-mail address is used only for confirming your registration details and password (and for sending new passwords should you forget your current one).</p>

  
    <footer>
      <p class="meta">
        
        








  


<time datetime="2012-05-20T22:16:00-04:00" pubdate data-updated="true">May 20<span>th</span>, 2012</time>
        
      </p>
      
      
    </footer>
  
</article>